In [1]:
import pandas as pd
import datetime as dt

In [2]:
customer_data = "../otrium_interview/resources/case_study_customer_data.csv"
order_data = "../otrium_interview/resources/case_study_order_data.csv"
order_item_data = "../otrium_interview/resources/case_study_orderitem_data.csv"

In [3]:
customer_data_df = pd.read_csv(customer_data)
customer_data_df.head(5)

   customerid customer_gender customer_country customer_language
0      579876         unknown               NL             dutch
1      530321          female               NL             dutch
2      881922          female               NL             dutch
3     1349764          female               DE            german
4     1178350          female               NL             dutch

In [4]:
order_data_df = pd.read_csv(order_data)
order_data_df.head(5)

,orderid,orderdate,orderstatus,shippingcost,ordercouponamount,shippingcountry,totalincomeproducts,refundamount,shippingdiscount,refunddate,...,paymentmethod,shippingcompanycode,warehouseid,isapporder,expectedshipmentdate,numproduct,numproductvariation,numbrand,originalcurrency,customerid
0,5842502,2021-01-30 22:06:36,shipped,5.95,9,NL,62.26,-29.12,0,2021-02-27 01:06:12,...,mollie_wc_gateway_klarnapaylater,POSTNL,2,1,2021-01-30 00:00:00,3,3,3,EUR,579876
1,6917931,2021-04-23 11:11:32,\N,5.95,0,NL,40.78,\N,0,\N,...,mollie_wc_gateway_ideal,FIETSKOERIERS,2,0,2021-04-23 00:00:00,2,2,2,EUR,530321
2,6157026,2021-02-27 16:30:53,shipped,5.95,11,NL,43.98,\N,0,\N,...,mollie_wc_gateway_ideal,POSTNL,2,0,2021-02-27 00:00:00,2,2,2,EUR,881922
3,5599565,2021-01-05 08:50:45,shipped,5.95,0,DE,412.15,-289.43,6,2021-01-26 02:05:15,...,mollie_wc_gateway_klarnapaylater,DHL,2,1,2021-01-05 00:00:00,12,12,8,EUR,1349764
4,6951186,2021-04-25 19:09:29,\N,5.95,27,NL,154.63,\N,6,\N,...,mollie_wc_gateway_ideal,POSTNL,2,0,2021-04-25 00:00:00,8,8,4,EUR,1178350

In [5]:
order_item_df = pd.read_csv(order_item_data)
order_data_df.head(5)

,orderid,orderdate,orderstatus,shippingcost,ordercouponamount,shippingcountry,totalincomeproducts,refundamount,shippingdiscount,refunddate,...,paymentmethod,shippingcompanycode,warehouseid,isapporder,expectedshipmentdate,numproduct,numproductvariation,numbrand,originalcurrency,customerid
0,5842502,2021-01-30 22:06:36,shipped,5.95,9,NL,62.26,-29.12,0,2021-02-27 01:06:12,...,mollie_wc_gateway_klarnapaylater,POSTNL,2,1,2021-01-30 00:00:00,3,3,3,EUR,579876
1,6917931,2021-04-23 11:11:32,\N,5.95,0,NL,40.78,\N,0,\N,...,mollie_wc_gateway_ideal,FIETSKOERIERS,2,0,2021-04-23 00:00:00,2,2,2,EUR,530321
2,6157026,2021-02-27 16:30:53,shipped,5.95,11,NL,43.98,\N,0,\N,...,mollie_wc_gateway_ideal,POSTNL,2,0,2021-02-27 00:00:00,2,2,2,EUR,881922
3,5599565,2021-01-05 08:50:45,shipped,5.95,0,DE,412.15,-289.43,6,2021-01-26 02:05:15,...,mollie_wc_gateway_klarnapaylater,DHL,2,1,2021-01-05 00:00:00,12,12,8,EUR,1349764
4,6951186,2021-04-25 19:09:29,\N,5.95,27,NL,154.63,\N,6,\N,...,mollie_wc_gateway_ideal,POSTNL,2,0,2021-04-25 00:00:00,8,8,4,EUR,1178350

In [12]:
customer_data_df.dtypes

customerid            int64
customer_gender      object
customer_country     object
customer_language    object
dtype: object

In [18]:
customer_data_df.columns.to_list()

['customerid', 'customer_gender', 'customer_country', 'customer_language']

In [28]:
order_data_df.dtypes

orderid                   int64
orderdate                object
orderstatus              object
shippingcost            float64
ordercouponamount         int64
shippingcountry          object
totalincomeproducts     float64
refundamount             object
shippingdiscount          int64
refunddate               object
refundamountitems        object
paymentmethod            object
shippingcompanycode      object
warehouseid              object
isapporder                int64
expectedshipmentdate     object
numproduct                int64
numproductvariation       int64
numbrand                  int64
originalcurrency         object
customerid                int64
dtype: object

In [25]:
order_data_df.columns.to_list()

['orderid',
 'orderdate',
 'orderstatus',
 'shippingcost',
 'ordercouponamount',
 'shippingcountry',
 'totalincomeproducts',
 'refundamount',
 'shippingdiscount',
 'refunddate',
 'refundamountitems',
 'paymentmethod',
 'shippingcompanycode',
 'warehouseid',
 'isapporder',
 'expectedshipmentdate',
 'numproduct',
 'numproductvariation',
 'numbrand',
 'originalcurrency',
 'customerid']

In [26]:
order_item_df.columns.to_list()

['orderitemid',
 'orderid',
 'shipmentdate',
 'productid',
 '`size`',
 'product_for_gender',
 'brandid',
 'quantity',
 'saleprice',
 'retailprice',
 'orderitemcouponamount',
 'quantityreturned',
 'returnreasondescription',
 'returndate',
 'pricebucket']

In [15]:
order_item_df.dtypes

orderitemid                  int64
orderid                      int64
shipmentdate                object
productid                    int64
`size`                      object
product_for_gender          object
brandid                      int64
quantity                     int64
saleprice                  float64
retailprice                float64
orderitemcouponamount        int64
quantityreturned            object
returnreasondescription     object
returndate                  object
pricebucket                 object
dtype: object

In [65]:
df = pd.merge(pd.merge(customer_data_df,order_data_df, on='customerid'),order_item_df,on='orderid')
df.head(10)

,customerid,customer_gender,customer_country,customer_language,orderid,orderdate,orderstatus,shippingcost,ordercouponamount,shippingcountry,...,product_for_gender,brandid,quantity,saleprice,retailprice,orderitemcouponamount,quantityreturned,returnreasondescription,returndate,pricebucket
0,579876,unknown,NL,dutch,5842502,2021-01-30 22:06:36,shipped,5.95,9,NL,...,\N,141739,1,22.49,89.95,3,1,Too big,2021-02-26 08:24:37,(2) 20-30
1,579876,unknown,NL,dutch,5842502,2021-01-30 22:06:36,shipped,5.95,9,NL,...,U,248292,1,10.00,19.99,0,1,Too small,2021-02-26 08:24:37,(0) 0-10
2,579876,unknown,NL,dutch,5842502,2021-01-30 22:06:36,shipped,5.95,9,NL,...,F,719381,1,38.99,55.00,6,\N,\N,\N,(3) 30-40
3,530321,female,NL,dutch,6917931,2021-04-23 11:11:32,\N,5.95,0,NL,...,\N,141739,1,19.79,89.95,0,\N,\N,\N,(1) 10-20
4,530321,female,NL,dutch,6917931,2021-04-23 11:11:32,\N,5.95,0,NL,...,F,155656,1,20.99,119.95,0,\N,\N,\N,(2) 20-30
5,881922,female,NL,dutch,6157026,2021-02-27 16:30:53,shipped,5.95,11,NL,...,FIX,161804,1,26.99,109.90,5,\N,\N,\N,(2) 20-30
6,881922,female,NL,dutch,6157026,2021-02-27 16:30:53,shipped,5.95,11,NL,...,F,180723,1,27.99,149.95,6,\N,\N,\N,(2) 20-30
7,1349764,female,DE,german,5599565,2021-01-05 08:50:45,shipped,5.95,0,DE,...,\N,2102449,1,22.50,90.00,0,\N,\N,\N,(2) 20-30
8,1349764,female,DE,german,5599565,2021-01-05 08:50:45,shipped,5.95,0,DE,...,FIX,282665,1,16.99,99.95,0,1,Product does not please,2021-01-25 13:14:28,(1) 10-20
9,1349764,female,DE,german,5599565,2021-01-05 08:50:45,shipped,5.95,0,DE,...,\N,2102449,1,22.50,90.00,0,1,Product does not please,2021-01-25 13:14:28,(2) 20-30

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 191700 entries, 0 to 191699
Data columns (total 38 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   customerid               191700 non-null  int64
 1   customer_gender          191700 non-null  object
 2   customer_country         191700 non-null  object
 3   customer_language        191700 non-null  object
 4   orderid                  191700 non-null  int64
 5   orderdate                191700 non-null  object
 6   orderstatus              191700 non-null  object
 7   shippingcost             191700 non-null  float64
 8   ordercouponamount        191700 non-null  int64
 9   shippingcountry          191700 non-null  object
 10  totalincomeproducts      191700 non-null  float64
 11  refundamount             191700 non-null  object
 12  shippingdiscount         191700 non-null  int64
 13  refunddate               191700 non-null  object
 14  refundamountitems        191700 non-null  object
 15  paymentmethod            191700 non-null  object
 16  shippingcompanycode      191700 non-null  object
 17  warehouseid              191700 non-null  object
 18  isapporder               191700 non-null  int64
 19  expectedshipmentdate     191700 non-null  object
 20  numproduct               191700 non-null  int64
 21  numproductvariation      191700 non-null  int64
 22  numbrand                 191700 non-null  int64
 23  originalcurrency         191700 non-null  object
 24  orderitemid              191700 non-null  int64
 25  shipmentdate             191700 non-null  object
 26  productid                191700 non-null  int64
 27  `size`                   191700 non-null  object
 28  product_for_gender       191700 non-null  object
 29  brandid                  191700 non-null  int64
 30  quantity                 191700 non-null  int64
 31  saleprice                191700 non-null  float64
 32  retailprice              191700 non-null  float64
 33  orderitemcouponamount    191700 non-null  int64
 34  quantityreturned         191700 non-null  object
 35  returnreasondescription  191700 non-null  object
 36  returndate               191700 non-null  object
 37  pricebucket              191700 non-null  object
dtypes: float64(4), int64(13), object(21)
memory usage: 57.0+ MB

In [70]:
df.to_csv("../otrium_interview/otrium_merged.csv")